@{
    ViewBag.Title = "Home Page";
}
<style>
    .box {
        margin: 20px auto;
        width: 100%;
        max-width: 150px;
        height: 40px;
        text-align: center;
    }

        .box .container-1 input {
            position: relative;
            width: 100%;
            margin-top: 50%;
        }
</style>

<div class="row text-center" style="min-height:700px;background-image:url(/Images/download.jpg)">
    <div style="margin-top:350px;">
        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline" }))
        {
            <input id="txtSearch" type="text" class="form-control col-mb-10" name="search" placeholder="Search Movies by Title">

          
            <button type="submit" id="btnSubmit" class="btn btn-primary mb-2">Search Movie</button>
        }

    </div>


    <div style="margin-top:10px;">
        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-inline" }))
        {
            <input id="txtYear" type="text" class="form-control col-mb-10" name="search" placeholder="Search Movies by Year">

          
            <button type="submit" id="btnSubmit1" class="btn btn-primary mb-2">Search Movie</button>
        }

    </div>
</div>

<table id="employeeTable" class="display">
  
    <thead>
        <tr>
            <th>Title</th>
            <th>Poster</th>
            <th>Year</th>
        </tr>
    </thead>
   
</table>
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
          
            $("#employeeTable").hide();       
            $("#btnSubmit").click(function (e) {                //not to redirect to mvc controller
                e.preventDefault();
                var movie = $("#txtSearch").val();
                $.get("http://www.omdbapi.com/?apikey=c786cce&s=" + movie, function (data) {
                 
                    if (data.Search!=null) {
                        $("#employeeTable").DataTable(
                            {
                                "ajax": {
                                    "url": "http://www.omdbapi.com/?apikey=c786cce&s=" + movie,//url for searching movie title where s=? gives list of results
                                    "type": "GET",
                                    "datatype": "json",
                                    "dataSrc": "Search"
                                },
                                "columns": [
                                    {
                                        "data": "Title",

                                        "render": function (data, type, row, meta) {
                                            if (type === 'display') {
                                                data = '<a href="/Home/Details/' + row.imdbID + '">' + data + '</a>';
                                            }

                                            return data;
                                        }
                                    },
                                    {
                                        "data": "Poster",

                                        "render": function (data, type, row, meta) {
                                            if (type === 'display') {
                                                data = '<a href="/Home/Details/' + row.imdbID + '"><img src="'+row.Poster+'" height="50" width="50" /></a>';
                                            }

                                            return data;
                                        }
                                    },
                                    { "data": "Year" }
                                ],
                                "pageLength": 5,//only 5 data in list
                                "bInfo": false,
                                "dom": "Brtp",
                       
                                "searching": false //to disable datatable searching
                               

                            });
                        $("#employeeTable").show();
                    }
                    else {
                        alert("Something Went wrong");
                    }
                  
                });
            })
            $("#btnSubmit1").click(function (e) {
                e.preventDefault();
                var movie = $("#txtYear").val();
                $.get("http://www.omdbapi.com/?apikey=c786cce&y=" + movie, function (data) {
                    //$.each(data.Search, function (index, element) {
                    //    console.log(element.Title);
                    //});
                    // console.table(data);
                    if (data.Search != null) {
                        $("#employeeTable").DataTable(
                            {
                                "ajax": {
                                    "url": "http://www.omdbapi.com/?apikey=c786cce&y=" + movie,//searching for year of release
                                    "type": "GET",
                                    "datatype": "json",
                                    "dataSrc": "Search"
                                },
                                "columns": [
                                    {
                                        "data": "Title",

                                        "render": function (data, type, row, meta) {
                                            if (type === 'display') {
                                                data = '<a href="/Home/Details/' + row.imdbID + '">' + data + '</a>';
                                            }

                                            return data;
                                        }
                                    },
                                    {
                                        "data": "Poster",

                                        "render": function (data, type, row, meta) {
                                            if (type === 'display') {
                                                data = '<a href="/Home/Details/' + row.imdbID + '"><img src="' + row.Poster + '" height="50" width="50" /></a>';
                                            }

                                            return data;
                                        }
                                    },
                                    { "data": "Year" }
                                ],
                                "pageLength": 5,
                                "bInfo": false,
                                "dom": "Brtp",
                                "searching": false



                            });
                        $("#employeeTable").show();
                    }
                    else {
                        alert("Something Went wrong");
                    }

                });
            })


        });
    </script>
}
